* {
  font-family: Poppins, sans-serif;
}

html {
  font-size: 32px;
}

body {
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  margin: 0;
}

h4 {
  font-size: 0.75rem;
  margin: 0;
}

h5 {
  font-size: 0.625rem;
  margin: 0;
}

.container {
  width: 95vw;
  margin: 2.5vh auto;
  padding: 0;
}

.content-block {
  padding: 0.75rem;
  background-color: #F0F0F0;
  border-radius: 0.75rem;
}

.square {
  width: 20vw;
  height: 20vw;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  height: 100%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.header {
  width: 100%;
  display: flex;
  gap: 20px;
}

.profile {
  width: 50vw;
  display: flex;
  gap: 20px;
}

.person-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello-block {
  font-size: 0.625rem;
}

.profession {
  color: #5C5C5C;
  font-weight: 500;
}

.languages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages-header {
  font-weight: 500;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.language {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.language h5 {
  font-size: 0.625rem;
  font-weight: 500;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  background-color: #28D979;
  border-radius: 0.1875rem;
  height: 0.6875rem;
}