* {
  font-family: Poppins, sans-serif;
}

html {
  font-size: 40px;
}

body {
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 0.75rem;
  margin: 0;
}

h5 {
  font-size: 0.625rem;
  margin: 0;
}

.container {
  width: 95vw;
  margin: 2.5vh auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content-block {
  padding: 0.75rem;
  background-color: #F0F0F0;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.square {
  width: 20vw;
  height: 20vw;
}

.header {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}

.profile {
  width: 50vw;
  display: flex;
  gap: 1.25rem;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  height: 100%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.person-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello-block {
  font-size: 0.625rem;
}

.name {
  font-weight: 600;
}

.profession {
  color: #5C5C5C;
  font-weight: 500;
}

.languages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.language {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.language h5 {
  font-size: 0.625rem;
  font-weight: 500;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  background-color: #28D979;
  border-radius: 0.1875rem;
  height: 0.6875rem;
}

.experience-block {
  width: 70vw;
  height: 70vw;
}

.experience-header {
  margin-bottom: 1rem;
}

.experience-card {
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

#most-recent {
  background-color: #28D979;
  color: white;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.most-recent-badge {
  font-size: 0.5rem;
  background-color: #7E731266;
  color: #DDF163;
  padding: 0.125rem 0.5rem;
  border-radius: 3.6875rem;
}

.years {
  font-size: 0.5rem;
}

.job-content {
  display: flex;
  justify-content: space-between;
}

.job-name {
  font-weight: 500;
}

.job-hours {
  font-size: 0.5rem;
}

.job-descriptions {
  margin: 0;
  font-size: 0.5rem;
  width: 60%;
}