* {
  font-family: Poppins, sans-serif;
}

html {
  font-size: 40px;
}

body {
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 0.75rem;
  margin: 0;
}

h5 {
  font-size: 0.625rem;
  margin: 0;
}

.container {
  width: 95vw;
  margin: 2.5vh auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.content-block {
  padding: 0.75rem;
  background-color: #F0F0F0;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.square {
  width: 20vw;
  height: 20vw;
}

.header {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}

.profile {
  width: 50vw;
  display: flex;
  gap: 1.25rem;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  height: 100%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.person-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello-block {
  font-size: 0.625rem;
}

#name {
  font-weight: 600;
}

#profession {
  color: #5C5C5C;
  font-weight: 500;
}

.languages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.language {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.language h5 {
  font-size: 0.625rem;
  font-weight: 500;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  background-color: #28D979;
  border-radius: 0.1875rem;
  height: 0.6875rem;
}

.main-content {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}

.experience-block {
  width: 70vw;
  height: 70vw;
}

#experience-header {
  margin-bottom: 0.4rem;
}

.experience-card {
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.7rem;
}

#most-recent {
  background-color: #28D979;
  color: white;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#most-recent-badge {
  font-size: 0.5rem;
  background-color: #7E731266;
  color: #DDF163;
  padding: 0.125rem 0.5rem;
  border-radius: 3.6875rem;
}

.years {
  font-size: 0.5rem;
}

.experience-cards {
  list-style-type: none;
  padding: 0;
}

.job-content {
  display: flex;
  justify-content: space-between;
}

.job-name {
  font-weight: 500;
}

.job-hours {
  color: #3F3D3D;
  font-size: 0.5rem;
}

#most-recent .job-hours {
  color: white;
}

.job-descriptions {
  margin: 0;
  font-size: 0.5rem;
  width: 60%;
  list-style-type: disc;
}

.tools-block {
  width: calc(30vw - 2.5rem);
}

#tools-header {
  padding-bottom: 0.4rem;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools-box {
  background-color: white;
  padding: 1rem;
  position: relative;
  display: grid;
  width: 12vw;
  margin-top: 0.7rem;
  border-radius: 0.375rem;
}

.tools-badge {
  position: absolute;
  top: -0.3125rem;
  left: 0;
  right: 0;
  width: fit-content;
  margin-inline: auto;
  font-size: 0.3125rem;
  border-radius: 3.75rem;
  background-color: black;
  color: white;
  padding: 0.125rem 0.375rem;
}

.icons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1.8rem;
}

.grid-el {
  display: flex;
  justify-content: center;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.interests-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.education-card {
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.5rem;
}

.most-recent {
  background-color: #28D979;
  color: white;
}

.education-header {
  margin-bottom: 1.1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.education-title {
  font-size: 0.625rem;
  font-weight: 500;
}

.favourite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0.625rem;
  height: 0.625rem;
}

.favourite img {
  overflow: hidden;
}

.education-tags {
  font-size: 0.5rem;
  margin-bottom: 0.7rem;
  padding-right: 0.5rem;
  font-weight: 400;
  color: #149063;
}

.most-recent .education-tags {
  color: white;
}

.education-place {
  font-size: 0.5rem;
  font-weight: 400;
}

.interests-tags {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  overflow: hidden;
  padding: 0 0.5rem 0 0;
}

.interests-tag {
  background-color: white;
  font-size: 0.625rem;
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
}

.chat {
  background-color: black;
  color: white;
}

.email {
  font-size: 0.625rem;
}